/*-------------------------------------    
CSS INDEX
===================================
#. EL: Button
#. EL: Section Title
#. EL: Owl Nav 1 
#. EL: Owl Nav 2
#. EL: Owl Nav 3
#. EL: Owl Nav 4
#. EL: News Box Grid
#. EL: News Tab 1
#. EL: Single News
#. EL: Slider
---------------------------------------*/
/*-----------------------
#. EL: Button
------------------------*/
/*title decoration*/
.entry-content .light-button {
	background: transparent;
	color: #ffffff;
	display: inline-block;
	font-weight: 500;
	margin-top: 20px;
	padding: 15px 34px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	border: 2px solid #fff;
	border-radius: 30px;
}
.entry-content .light-button i {
	color: #e53935;
	display: block;
	font-size: 20px;
	position: absolute;
	top: 18px;
	right: 3%;
}
.entry-content .light-button:hover {
	background: #ffffff;
	color: #e53935;  
	border: 2px solid #e53935;
}
.entry-content .light-button:hover i {
	color: #ffffff;
}
.entry-content .rt-price-table-box1 {
	text-align: center;
	padding: 50px 0;
	background: #f8f8f8;
	margin: 0 auto;
	transition: all 0.5s ease-out;
}
.entry-content .rt-price-table-box1 span {
	font-size: 24px;
	font-weight: 500;
	display: block;
	margin-bottom: 30px;
	transition: all 0.5s ease-out;
	line-height: 36px;
}
.entry-content .rt-price-table-box1 .price-holder {
	color: #ffffff;
	font-size: 36px;
	height: 150px;
	min-width: 150px;
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 35px;
	padding: 50px 15px 60px;
	line-height: 30px;
	transition: all 0.5s ease-out;
	background: #e53935;
}
.dark-button {
	border: 2px solid #e53935;
	color: #ffffff !important;
	display: inline-block;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	transition: all 0.7s ease;
	background: #e53935;
	margin-top: 0px;
	border-radius: 0px;
	text-transform: uppercase;
	position: relative;
	font-size: 14px;
	padding: 0px 8px;
}
.dark-button span {	
	overflow: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	position: relative;
	z-index: 2;
	display: table-cell;
	vertical-align: middle;
	padding: 12px 24px;
}
.dark-button:hover span {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
}
.dark-button:before {
	content: '\f178';
	font-family: 'fontawesome';
	color: #ffffff !important;
	background: #e53935;	
	margin-left: 10px;
	transition: all 0.7s ease;
	opacity: 0;	
	-webkit-transform: translate3d(-20px,-50%,0);
    -moz-transform: translate3d(-20px,-50%,0);
    transform: translate3d(-20px,-50%,0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
	position: absolute;
	top: 24px;
	left: 5px;
}
.dark-button:hover:before {
	opacity: 1;
	-webkit-transform: translate3d(10%,-50%,0);
    -moz-transform: translate3d(10%,-50%,0);
    transform: translate3d(10%,-50%,0);
}
.rt-grid-fill-btn {
	clear: both;
	text-align: center;
	padding-top: 15px;
}
.entry-content .rt-grid-fill-btn a.grid-fill-btn {
	margin: 0px;
}
.entry-content a.grid-fill-btn,
.entry-content .rt-grid-fill-btn a.grid-fill-btn {
	color: #ffffff;
	background: #e53935;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid #e53935;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	border-radius: 30px;
	display: inline-block;
}
.entry-content a.grid-fill-btn:hover,
.entry-content .rt-grid-fill-btn a.grid-fill-btn:hover {
	color: #e53935;
	background: transparent;
}
.entry-content a.grid-fill-btn:hover:after,
.entry-content .rt-grid-fill-btn a.grid-fill-btn:hover:after {
	color: #e53935;
	font-family: FontAwesome;
	opacity: 1;
	content: "\f105";
    margin-left: 9px;
    font-size: 18px;
}
@media (max-width: 768px) {
	.entry-content .rt-grid-fill-btn a.grid-fill-btn {
		font-size: 14px;
		padding: 8px 15px;
	}
}
/*-------------------------------------
#. EL: Section Title
--------------------------------------*/
.rt-vc-title-1 h2 {
	position: relative;
	padding-bottom: 16px;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 26px;
	font-weight: 500;
}
.rt-vc-title-1 h2:after {
	background: #e53935;
	position: absolute;
	content: "";
	left: 0;
	bottom: -3px;
	margin: 0 auto;
	height: 4px;
	width: 50px;
}
.rt-vc-title-1.no-bar h2  {
	position: relative;
	padding-bottom: 15px;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 500;
}
.rt-vc-title-1.no-bar h2:after {
	background: none;
	position: absolute;
	content: "";
	left: 0;
	bottom: -3px;
	margin: 0 auto;
	height: 0px;
	width: 0px;
}
.rt-vc-title-1 ul {
	list-style: none;
	padding-left: 0;
	padding-top: 25px;
}
.rt-vc-title-1 ul li {
    font-size: 18px;
    padding-bottom: 13px;
}
.rt-vc-title-1 ul li:before {
	color: #ffffff;
    content: "\f058";
    font-family: FontAwesome;
    font-size: 20px;
    padding-right: 20px;
}
.rtin-section-title-center {
	text-align: center;
}
.rtin-section-title-center h2:after {
	right: 0;
}
.rtin-section-title-center .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0 auto;
	width: 65%;
	font-size: 18px;
}
.rtin-section-title-right {
	text-align: right;
}
.rtin-section-title-right h2:after {
	right: 0;
	margin: 0;
	left: inherit;
}
.rtin-section-title-right .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0;
	width: 65%;
	float: right;
}
.rtin-section-title-left {
	text-align: left;
}
.rtin-section-title-left h2:after {
	left: 0;
	margin: 0;
}
.rtin-section-title-left .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0 0 15px 0;
	width: 65%;
	float: left;
}
.rtin-section-title-left .rt-section-sub-title-vc .barta-primary-color {
	font-weight: 500;
	padding-bottom: 15px;
}
.section-title {
	float: left;
}
.section-title h2 {
	position: relative;
	padding-bottom: 16px;
	font-size: 30px;
	font-family: Roboto , sans-serif;
	line-height: 1.4;
}
.section-title h2:after {
	background: #e53935;
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	margin: 0 auto;
	height: 4px;
	width: 60px;
}
/**/
.rt-vc-title-2 h2 {
	position: relative;
	font-size: 36px;
	line-height: 1;
	font-weight: 500;
}
.rt-vc-title-2.rtin-section-title-center {
	text-align: center;
}
.rt-vc-title-2.rtin-section-title-center .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0 auto;
	font-size: 18px;
	width: 65%;
}
.rt-vc-title-2.rtin-section-title-right {
	text-align: right;
}
.rt-vc-title-2.rtin-section-title-right .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0;
	font-size: 18px;
	width: 65%;
	float: right;
}
.rt-vc-title-2.rtin-section-title-left {
	text-align: left;
}
.rt-vc-title-2.rtin-section-title-left .rt-section-sub-title-vc {
	font-weight: 400;
	margin: 0;
	font-size: 18px;
	width: 65%;
	float: left;
}
.rt-vc-title-3 {
	margin-bottom: 37px;
	display: inline-block;
	margin: 0px auto 30px;
	text-align: center;
	width: 100%;
}
.rt-vc-title-3 h2.section-title-3 {
	margin-bottom: 10px;
	color: #111111;
	line-height: 1;
	font-weight: 500;
}
.rt-vc-title-3 h2.section-title-3 span {
	color: #e53935;
}
.rt-vc-title-3 h3.section-title-3 {
	font-size: 16px;
	letter-spacing: 8px;
}
.rt-vc-title-3 .title-bottom-icon {
	width: 235px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
}
.rt-vc-title-3 .title-bottom-icon i {
	color: #e53935;
	font-size: 16px;
}
.rt-vc-title-3 .title-bottom-icon:before {
	content: "";
	height: 1px;
	width: 80px;
	background: #b0b0b0;
	bottom: 10px;
	left: 10px;
	position: absolute;
}
.rt-vc-title-3 .title-bottom-icon:after {
	content: "";
	height: 1px;
	width: 80px;
	background: #b0b0b0;
	bottom: 10px;
	right: 10px;
	position: absolute;
}
.rtin-section-title-center > p {
	margin: 0 auto;
}
.rt-vc-title-4 .sub-title {
	color: #e53935;
	letter-spacing: 2px;
	margin-bottom: 55px;
	text-transform: capitalize;
}
.rt-vc-title-5 .rt-section-title-vc {
	color: #ffffff;
}
.rt-vc-title-5 .rt-section-title-vc span {
	display: #block;
}
.rt-vc-title-5  h2.rt-section-title-vc {
	margin: -5px 0 6px;
}
.rt-vc-title-5  ul {
	list-style: none;
	padding-left: 0;
	padding-top: 25px;
}
.rt-vc-title-5  ul li {
    font-size: 18px;
    padding-bottom: 13px;
}
.rt-vc-title-5  ul li:before {
	color: #ffffff;
    content: "\f058";
    font-family: FontAwesome;
    font-size: 20px;
    padding-right: 20px;
}
.rt-vc-title-5  ul li a {}

.rt-vc-title-5 .rt-section-title-vc .barta-primary-color {
	margin-bottom: 25px;
}
/*-------------------------------------
#. EL: Owl Nav 1
---------------------------------------*/
.owl-theme .owl-controls .owl-prev {
	left: -45px;
	opacity: 1 !important;
	font-size: 18px !important;
	margin: 0 4px !important;
	height: 40px;
	width: 40px;
	border-radius: 0 !important;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 40%;
	border: 2px solid #e53935;
	line-height: 1.4;
}
.owl-theme .owl-controls .owl-prev i {
	line-height: 30px;
	color: #ffffff;
	transition: all 0.3s ease-out;
}
.owl-theme .owl-controls .owl-prev:hover i {
	color: #ffffff;
	transition: all 0.3s ease-out;
}
.owl-theme .owl-controls .owl-next {
	right: -45px;
	opacity: 1 !important;
	font-size: 18px !important;
	margin: 0 4px !important;
	height: 40px;
	width: 40px;
	border-radius: 0 !important;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 40%;
	border: 2px solid #e53935;
	line-height: 1.4;
}
.owl-theme .owl-controls .owl-next i {
	line-height: 30px;
	color: #ffffff;
	transition: all 0.3s ease-out;
}
.owl-theme .owl-controls .owl-next:hover {
	transition: all 0.3s ease-out;
}
.owl-theme .owl-controls .owl-next:hover i {
	color: #ffffff;
	transition: all 0.3s ease-out;
}
.owl-wrap.rt-owl-nav-1 {
	margin: 0 15px;
}
.rt-owl-nav-1 .section-title-holder {
	margin-bottom: 35px;
}
.rt-owl-nav-1 .owl-carousel .owl-nav {
	display: block !important;
}
.rt-owl-nav-1 .owl-carousel .owl-nav .owl-prev {
	border-radius: 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	opacity: 1;
	padding: 2px 0;
	text-align: center;
	width: 36px;
	transition: all 0.3s ease 0s;
	border: none;
	left: -50px;
	top: 45%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	border: 2px solid #e53935;
	color: #e53935;
	background-color: transparent;
}
.rt-owl-nav-1 .owl-carousel .owl-nav .owl-prev:hover {
	background-color: #e53935;
	color: #ffffff !important;
}
.rt-owl-nav-1 .owl-carousel .owl-nav .owl-next {
	border-radius: 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	opacity: 1;
	padding: 2px 0;
	text-align: center;
	width: 36px;
	transition: all 0.3s ease 0s;
	border: none;
	margin-left: 4px;
	right: -52px;
	top: 45%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	background-color: transparent;
	border: 1px solid #e53935;
	color: #e53935;
}
.rt-owl-nav-1 .owl-carousel .owl-nav .owl-next:hover {
	background-color: #e53935;
	color: #ffffff !important;
}
.rt-owl-nav-1 .owl-carousel .owl-nav i {
	font-size: 20px;
	font-weight: bold;
	line-height: 31px;
}
.rt-owl-nav-1 .owl-carousel .owl-dots {
	display: none !important;
}
.rt-owl-nav-1 .owl-carousel .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
}
.rt-owl-nav-1 .owl-carousel .owl-dots .owl-dot span:hover span {
	background: #e53935;
}
.rt-owl-nav-1 .owl-carousel .owl-dots .owl-dot.active span {
	width: 11px;
	height: 11px;
	background: #e53935;
}
/*-------------------------------------
#. EL: Owl Nav 2
---------------------------------------*/
.rt-owl-nav-2.slider-nav-enabled .owl-carousel .owl-prev {
	border-radius: 4px;
	color: #e53935;
	cursor: pointer;
	display: inline-block;
	height: 43px;
	opacity: 1;
	padding: 6px 0;
	text-align: center;
	width: 41px;
	transition: all 0.3s ease 0s;
	border: 2px solid #e53935;
	background-color: transparent;
	position: absolute;
	left: -60px;
	top: 44%;
}
.rt-owl-nav-2.slider-nav-enabled .owl-carousel .owl-prev:hover {
	background-color: #e53935;
	color: #ffffff;
}
.rt-owl-nav-2.slider-nav-enabled .owl-carousel .owl-next {
	border-radius: 4px;
	color: #e53935;
	cursor: pointer;
	display: inline-block;
	height: 43px;
	opacity: 1;
	padding: 6px 0;
	text-align: center;
	width: 41px;
	transition: all 0.3s ease 0s;
	border: 1px solid #e53935;
	margin-left: 4px;
	background-color: transparent;
	position: absolute;
	right: -60px;
	top: 44%;
}
.rt-owl-nav-2.slider-nav-enabled .owl-carousel .owl-next:hover {
	background-color: #e53935;
	color: #ffffff;
}
.rt-owl-nav-2.slider-nav-enabled .owl-carousel i {
	font-size: 26px;
	font-weight: 400;
	line-height: 27px;
}
.rt-owl-nav-2.slider-nav-enabled .owl-carousel .owl-nav {
	display: block !important;
}
.rt-owl-nav-2.slider-dot-enabled .owl-carousel .owl-dots {
	display: block !important;
}
.rt-owl-nav-2.slider-dot-enabled .owl-carousel .owl-dot span {
	width: 11px;
	height: 11px;
}
.rt-owl-nav-2.slider-dot-enabled .owl-carousel .owl-dot span:hover span {
	background: #e53935;
}
.rt-owl-nav-2.slider-dot-enabled .owl-carousel .owl-dot.active span {
	width: 11px;
	height: 11px;
	background: #e53935;
}
/*-------------------------------------
#. EL: Owl Nav 3
---------------------------------------*/
.rt-owl-nav-3 .owl-custom-nav {
	float: right;
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.rt-owl-nav-3 .owl-custom-nav .owl-prev {
	border-radius: 0;
	color: #e53935;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	opacity: 1;
	padding: 6px 0;
	text-align: center;
	width: 40px;
	transition: all 0.3s ease 0s;
	border: 1px solid #e53935;
}
.rt-owl-nav-3 .owl-custom-nav .owl-prev:hover {
	background-color: #e53935;
	color: #ffffff;
}
.rt-owl-nav-3 .owl-custom-nav .owl-next {
	border-radius: 0;
	color: #e53935;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	opacity: 1;
	padding: 6px 0;
	text-align: center;
	width: 40px;
	transition: all 0.3s ease 0s;
	border: 1px solid #e53935;
	margin-left: 4px;
	/*padding: 5px 24px 5px 22px !important;*/
	padding: 6px 17px 5px 16px !important;
}
.rt-owl-nav-3 .owl-custom-nav .owl-next:hover {
	background-color: #e53935;
	color: #ffffff;
}
.rt-owl-nav-3 .owl-custom-nav i {
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}
.rt-owl-nav-3 .owl-custom-nav-bar {
	border-color: #e8e8e8;
	border-style: solid;
	border-width: 1px 0;
	float: right;
	margin-top: 16px;
}
.rt-owl-nav-3.slider-dot-enabled .owl-carousel .owl-dots {
	display: block !important;
}
.rt-owl-nav-3.slider-dot-enabled .owl-carousel .owl-dot span {
	width: 14px;
	height: 15px;
}
.rt-owl-nav-3.slider-dot-enabled .owl-carousel .owl-dot span:hover span {
	background: #e53935;
}
.rt-owl-nav-3.slider-dot-enabled .owl-carousel .owl-dot.active span {
	width: 14px;
	height: 15px;
	background: #e53935;
}
/*-------------------------------------
#. EL: Owl Nav 4
---------------------------------------*/
.rt-owl-nav-4 .owl-theme .owl-nav {
	margin-top: 0;
}
.rt-owl-nav-4 .owl-theme .owl-nav > div {
	background-color: transparent !important;
	border: 2px solid #26c6da;
	color: #222222;
	font-size: 24px;
	height: 50px;
	line-height: 28px;
	margin: 0 !important;
	padding: 8px 0 !important;
	position: absolute;
	top: 35%;
	transition: all 0.5s ease-in-out 0s;
	width: 40px;
}
.rt-owl-nav-4 .owl-theme .owl-nav > div:hover {
	background-color: #26c6da !important;
	color: #fff;
}
.rt-owl-nav-4 .owl-nav .owl-prev {
	left: -60px;
}
.rt-owl-nav-4 .owl-nav .owl-next {
	right: -60px;
}
/*-----------------------
#. EL: News Box ( common )
------------------------*/
/*Box Title*/
.rt-news-box-title-holder {
	border-bottom: 2px solid #111111;
}
.el-rt-news-box-title.style_1 {	
	position: relative;
	padding: 6px 20px 6px 20px;
	background-color: #111111;
	color: #ffffff;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 1.4;
}
.el-rt-news-box-title.style_1 span {	
	position: absolute;
	bottom: -10px;
	left: 10px;
	z-index: 1;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid red;
}
.el-rt-news-box-title.style_2 {
	background: #111111;
	text-transform: capitalize;
    z-index: 2;
	display: inline-block;
	padding: 6px 20px 6px 20px;
	position: relative;
    color: #ffffff;
    font-size: 18px;
	margin-bottom: 0;
	line-height: 1.4;
}
.el-rt-news-box-title.style_2 span {
	position: absolute;
	content: "";
	top: 0;
	right: -8px;
	border-top: 8px solid #111111;
	border-right: 8px solid transparent;
}
/*content inside left*/
h1.title-medium-light {
    color: #fff;
	font-size: 24px;
	line-height: 1.5;
}
h1.title-medium-light a {
    color: #fff;
    transition: all .5s ease-out;
}
h2.title-medium-light {
    color: #fff;
	font-size: 24px;
	line-height: 1.5;
}
h2.title-medium-light a {
    color: #fff;
    transition: all .5s ease-out;
}
h3.title-medium-dark {
	color: #111111;
	font-size: 18px;
	line-height: 1.5;
}
h3.title-medium-dark a {
    color: #111111;
    transition: all .5s ease-out;
}
h3.title-medium-light {
    font-weight: 500;
    color: #fff;
	font-size: 18px;
	line-height: 1.5;
}
h3.title-medium-light a {
    color: #fff;
    transition: all .5s ease-out;
}
h3.title-medium-light a, 
h3.title-semibold-light a {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
h1.title-medium-light a:hover,
h2.title-medium-light a:hover,
h3.title-medium-light a:hover, 
h3.title-medium-dark a:hover,
h3.title-semibold-light a:hover,
h4.title-medium-light a:hover {
	color: #e53935;
}
h3.title-regular-light {
    font-weight: 400;
    color: #fff;
	font-size: 18px;
	line-height: 1.5;
}
h3.title-regular-light a {
    color: #fff;
    transition: all .5s ease-out;
}
h3.title-regular-light a {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
h3.title-regular-light a:hover,
h3.title-semibold-dark a:hover {
	color: #e53935;
}
h3.title-semibold-dark {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}
h3.title-semibold-dark a {
    color: #111111;
    transition: all .5s ease-out;
}
h4.title-medium-light a {
    color: #ffffff;
    transition: all .5s ease-out;
}
/*image over lay*/
.img-scale-animate {
    overflow: hidden;
	position: relative;
}
.mb-5 {
	margin-bottom: 10px !important;
}
/*------------------
Tab space for grid
-------------------*/
.mask-content-xs {
    position: absolute;
    z-index: 7;
    bottom: 0;
    left: 20px;
    padding-right: 20px;
}
.tab-space1 {
    margin-left: -1px;
    margin-right: -1px;
}
.tab-space2 {
    margin-left: -2px;
    margin-right: -2px;
}
.tab-space3 {
    margin-left: -3px;
    margin-right: -3px;
}
.tab-space4 {
    margin-left: -4px;
    margin-right: -4px;
}
.tab-space5 {
    margin-left: -5px;
    margin-right: -5px;
}
.tab-space6 {
    margin-left: -15px;
    margin-right: -15px;
}
.tab-space1 > div {
    padding: 0 1px;
}
.tab-space1 > div .mb-2 {
	margin-bottom: 2px !important;
}
.tab-space2 > div {
    padding: 0 2px;
}
.tab-space2 > div .mb-2 {
	margin-bottom: 4px !important;
}
.tab-space3 > div {
    padding: 0 3px;
}
.tab-space3 > div .mb-2 {
	margin-bottom: 6px !important;
}
.tab-space4 > div {
    padding: 0 4px;
}
.tab-space4 > div .mb-2 {
	margin-bottom: 8px !important;
}
.tab-space5 > div {
    padding: 0 5px;
}
.tab-space5 > div .mb-2 {
	margin-bottom: 10px !important;
}
.tab-space6 > div {
    padding: 0 15px;
}
.tab-space6 > div .mb-2 {
	margin-bottom: 30px !important;
}
/*-----------------------
#. EL: Single News
------------------------*/
.banner-content-style1 {
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	z-index: 7
}
/*-------------------------------------
#. EL: Slider
---------------------------------------*/
.rt-el-slider {
  color: #fff;
  position: relative;
}
.rt-el-slider .rt-nivoslider {
  opacity: 0;
}
.rt-el-slider .rtin-content {
  display: table;
  height: 100%;
  width: 100%;
}
.rt-el-slider .rtin-content .rtin-content-inner {
  display: table-cell;
  vertical-align: middle;
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap {
  margin: 0 60px;
}
@media all and (max-width: 1199px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap {
    margin: 0 30px;
  }
}
@media all and (max-width: 991px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap {
    margin: 0 15px;
  }
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title {
  color: #222222;
  line-height: 1.2;
  font-size: 48px;
  font-weight: 600;
  padding: 0;
  margin: 0 auto;
  max-width: 1110px;
  text-align: left;
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title span {
  font-weight: 400;
}
@media all and (max-width: 1199px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title {
    font-size: 42px;
  }
}
@media all and (max-width: 991px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title {
    font-size: 36px;
  }
}
@media all and (max-width: 767px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title {
    font-size: 32px;
  }
}
@media all and (max-width: 480px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-title {
    font-size: 24px;
    line-height: 1;
  }
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-subtitle {
  line-height: 1.7;
  font-weight: 400;
  color: #444444;
  max-width: 1110px;
  margin: 25px auto 0;
  padding: 0;
  text-align: left;
}
@media all and (max-width: 767px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-subtitle {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
  }
}
@media all and (max-width: 480px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-subtitle {
    display: none;
  }
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-subtitle-mob {
  font-weight: 400;
  color: #bfbfbf;
  padding: 0;
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.4;
  display: none;
}
@media all and (max-width: 480px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-subtitle-mob {
    display: block;
  }
}
.rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-btn {
  max-width: 1110px;
  margin: 40px auto 0;
  text-align: left;
}
.rt-el-slider .nivo-caption a {
    display: inline-block !important;
}
@media all and (max-width: 991px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-btn {
    margin-top: 30px;
  }
}
@media all and (max-width: 480px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-btn {
    margin-top: 15px;
  }
}
@media all and (max-width: 767px) {
  .rt-el-slider .rtin-content .rtin-content-inner .rtin-content-wrap .rtin-btn a {
    font-size: 13px;
    padding: 8px 15px;
  }
}
.rt-el-slider .rtin-content.rtin-odd .rtin-title,
.rt-el-slider .rtin-content.rtin-odd .title-medium-light {
  animation: fadeInRight 1000ms ease-in-out;
}
.rt-el-slider .rtin-content.rtin-odd .rtin-subtitle,
.rt-el-slider .rtin-content.rtin-odd .rtin-subtitle-mob,
.rt-el-slider .rtin-content.rtin-odd .post-meta-light {
  animation: fadeInRight 1500ms ease-in-out;
}
.rt-el-slider .rtin-content.rtin-odd .rtin-btn,
.rt-el-slider .rtin-content.rtin-odd .topic-box-sm {
  animation: fadeInRight 2000ms ease-in-out;
}
.rt-el-slider .rtin-content.rtin-even .rtin-title,
.rt-el-slider .rtin-content.rtin-even .title-medium-light {
  animation: fadeInLeft 1000ms ease-in-out;
}
.rt-el-slider .rtin-content.rtin-even .rtin-subtitle,
.rt-el-slider .rtin-content.rtin-even .rtin-subtitle-mob,
.rt-el-slider .rtin-content.rtin-even .post-meta-light {
  animation: fadeInLeft 1500ms ease-in-out;
}
.rt-el-slider .rtin-content.rtin-even .rtin-btn,
.rt-el-slider .rtin-content.rtin-even .topic-box-sm {
  animation: fadeInLeft 2000ms ease-in-out;
}
.rt-el-slider .slider-direction {
  display: none;
}

.rt-el-slider .nivo-directionNav a.nivo-prevNav,
.rt-el-slider .nivo-directionNav a.nivo-nextNav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fe9000;
  transition: all 0.5s ease-out;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-prevNav,
  .rt-el-slider .nivo-directionNav a.nivo-nextNav {
    width: 30px;
    height: 30px;
  }
}
.rt-el-slider .nivo-directionNav a.nivo-prevNav:before,
.rt-el-slider .nivo-directionNav a.nivo-nextNav:before {
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  top: 10px;
  transition: all 0.5s ease-out;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-prevNav:before,
  .rt-el-slider .nivo-directionNav a.nivo-nextNav:before {
    font-size: 10px;
    top: 0;
  }
}
.rt-el-slider .nivo-directionNav a.nivo-prevNav:hover,
.rt-el-slider .nivo-directionNav a.nivo-nextNav:hover {
  background-color: rgba(255, 190, 0, 0.6);
  transition: all 0.5s ease-out;
}
.rt-el-slider .nivo-directionNav a.nivo-prevNav:hover:before,
.rt-el-slider .nivo-directionNav a.nivo-nextNav:hover:before {
  color: #fff;
}
.rt-el-slider .nivo-directionNav a.nivo-prevNav {
  left: 15px;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-prevNav {
    left: 10px;
  }
}
.rt-el-slider .nivo-directionNav a.nivo-prevNav:before {
  content: "\f053";
  left: 17px;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-prevNav:before {
    left: 9px;
  }
}
.rt-el-slider .nivo-directionNav a.nivo-nextNav {
  right: 15px;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-nextNav {
    right: 10px;
  }
}
.rt-el-slider .nivo-directionNav a.nivo-nextNav:before {
  content: "\f054";
  right: 17px;
}
@media all and (max-width: 991px) {
  .rt-el-slider .nivo-directionNav a.nivo-nextNav:before {
    right: 9px;
  }
}
.rt-el-slider .nivo-caption {
  height: 100%;
  opacity: 1;
  background: inherit;
}
.rt-el-slider .nivo-controlNav {
	position: absolute;
    bottom: 20px;
	padding: 0 5px;
    z-index: 8;
}
.rt-el-slider .nivo-controlNav .nivo-control {
    text-indent: -9999px;
    width: 15px;
    height: 15px;
	border-radius: 50%;
    background-color: #c4c7cb;
    color: #c4c7cb;
	font-weight: 400;
    margin: 0 5px;
    display: inline-block;
}
.rt-el-slider .nivo-controlNav .nivo-control.active {
	background-color: #e53935;
	font-weight: 400;
}
.rt-el-slider .rtin-content-inner .topic-box-sm .el-rt-cat.style_2 {
	left: 0;
}
.rt-el-slider.rt-post-slider .rtin-content-inner .topic-box-sm {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}
.rt-el-slider.rt-post-slider .rtin-content .rtin-content-inner {
	vertical-align: bottom;
	padding-bottom: 50px;
}
.rt-el-slider.rt-post-slider .rtin-content .rtin-content-inner .rtin-content-wrap .post-meta-light {
  padding: 0;
  text-align: left;
}
.rt-el-slider.rt-post-slider .rtin-content .rtin-content-inner .rtin-content-wrap .title-medium-light {
  color: #111111;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  text-align: left;
}
.rt-el-slider.rt-post-slider .rt-nivoslider {
    width: 100% !important;
    margin-left: 0 !important;
}
.rt-el-slider.rt-post-slider .rtin-content .rtin-content-inner .rtin-content-wrap {
	margin: 0 40px;
}

.rt-el-slider.rt-post-slider .nivo-controlNav {
	padding: 0 45px;
}
.rt-el-slider.rt-post-slider .img-overlay-70:before {
	z-index: 6;
}