/* Ticker Styling */
.ticker-wrapper.has-js {
	padding: 5px 0;
	width: 100%;
	height: 50px;
	display: block;
	font-size: 16px;
}
.ticker {
	width: 90%;
	height: 40px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
}
.ticker-title {	
	text-transform: capitalize;
    z-index: 2;
    display: inline-block;
    background: #111111;
    padding: 8px 20px;
    position: relative;
    color: #ffffff;
    font-size: 16px;
	font-weight: 500;
}
.ticker-title .boltu-right {
	position: absolute;
	content: "";
	top: 0;
	right: -8px;
	border-top: 8px solid #f74;
	border-right: 8px solid transparent;
}
.ticker-content {
	margin: 0px;
	padding-top: 11px;
	position: absolute;
	color: #111111;
	background-color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2;
	left: 150px !important;
}
.ticker-content a {
	text-decoration: none;	
	color: #111111 !important;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #0D3059 !important;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #ffffff;
	display: block;
	width: 1000px;
	height: 36px;
	left: 161px !important;
}
.ticker-swipe span {
	margin-left: 3px;
	margin-top: 5px;
	background-color: #ffffff;
	border-bottom: 1px solid #e53935;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('../img/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../img/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../img/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../img/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
	width: 10%;
	text-align: right;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}
.rt-news-ticker-holder {
	background: #f8f8f8;
	border-bottom: 1px solid #dadada;
	min-height: 50px;
}
.ticker-wrapper .ticker-swipe {
	background: #f8f8f8;
}
.ticker-wrapper .ticker-content,
.ticker-wrapper .ticker,
.ticker-wrapper .ticker-swipe span {
	background-color: transparent;
}
.header-style-4 .rt-news-ticker-holder {
	background: transparent;
	border-bottom: none;
}
.header-style-4 .ticker-wrapper .ticker-swipe {
	background: #ffffff;
}
.header-style-4 .ticker-wrapper.has-js {
	background: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px 30px 0;
}
@media (max-width:991px) {
	.header-style-4 .ticker-wrapper.has-js {
		margin-bottom: 5px;
		padding: 0;
	}
}
.header-style-5.trheader .rt-news-ticker-holder {
	background: transparent;
	border-bottom: none;
}
.header-style-5.trheader .ticker-wrapper.has-js {
	background: #111111;
}
.header-style-5.trheader .ticker-wrapper .ticker-swipe {
	background: #111111;
}
.header-style-5.trheader .ticker-wrapper .ticker-content,
.header-style-5.trheader .ticker-wrapper .ticker-content a {
	color: #ffffff !important;
}
.header-style-5.trheader .ticker-wrapper .ticker-content a:hover {
	color: #e53935 !important;
}
.header-style-6 .rt-news-ticker-holder {
	background: transparent;
	border-bottom: none;
}
.header-style-6 .ticker-wrapper.has-js {
	background: #444444;
	margin: 8px 0 0;
	padding: 0;
	height: 40px;
}
.header-style-6 .ticker-wrapper .ticker-swipe {
	background: #444444;
}
.header-style-6 .ticker-wrapper .ticker-content,
.header-style-6 .ticker-wrapper .ticker-content a {
	color: #ffffff !important;
}
.header-style-6 .ticker-wrapper .ticker-content a:hover {
	color: #e53935 !important;
}
